<h1>My Tasks</h1>
 <ul>
  <% @tasks.each do |task| %>
    <li><%= link_to task.title, task_path(task)%></li>
    <li><%= link_to "Delete", task_path(task), method: :delete, data: {confirm: "Are you sure?"}%></li>
  <% end %>
</ul>

